html {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
a {
	color: inherit;
	text-decoration: inherit;
}

.mhd-body {
	background-color: #731928;
	color: #fff8dc;
	font-family: "Georgia", serif;
	width: 100%;
	max-width: 800px;
}
.mhd-header-break {
	width: 100%;
}
.mhd-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.mhd-header-text {
	padding: 30px 0;
	font-size: 60px;
	font-weight: 800;
}
.mhd-header-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}
.mhd-header-link {
	font-size: 38px;
	font-weight: 400;
}
.mhd-page-body {
	padding: 20px 0 0;
}
.mhd-page-body-header {
	padding: 0 0 10px;
	font-size: 32px;
	font-weight: 800;
}
.mhd-page-body-text {
	font-size: 20px;
	font-weight: 400;
}
