<!DOCTYPE html>
<html>
<!-- <head>
    <title>Megan Hamm Designs</title>
	<link rel="stylesheet" href="css/style.css">
</head> -->
<body class="mhd-body">
	<div class="mhd-header">
		<h1>Megan Hamm Designs</h1>
		<div class="mhd-header-container">
			<hr />
			<div><a class="mhd-header-link" href="index.html">Home</a></div>
			<div><a class="mhd-header-link" href="pages/gallery.html">Gallery</a></div>
			<div><a class="mhd-header-link" href="pages/store.html">Store</a></div>
		</div>
	</div>
	<div>
		body stuff here
	</div>
</body>
</html>
